<!doctype html>
<title>Mapa de accidentes de tráfico en la comunidad valenciana</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
<div class=page>
  <h1>Mapa de accidentes de tráfico en la comunidad valenciana</h1>

  <div class=metanav>

    <h4>
      Selecciona una de las siguientes opciones:
    </h4>

    <form id='Selection_GMaps' method='post' action='index' >
      <input type="radio" name="option" value="Accidentes_Total" checked> Mapa de calor del total de accidentes en la base de datos<br>(Rojo = Gran cantidad de accidentes, Verde = Poca cantidad de accidentes, Sin color = Ningun accidente<br><br>
         <br>
      <input type="radio" name="option" value="Accidentes_Mortales"> Mapa de calor de accidentes mortales en la base de datos<br>(Rojo = Gran cantidad de accidentes, Verde = Poca cantidad de accidentes, Sin color = Ningun accidente <br><br>
        <br>
        <input type="radio" name="option" value="Accidentes_Graves"> Mapa de calor de accidentes graves en la base de datos<br>(Rojo = Gran cantidad de accidentes, Verde = Poca cantidad de accidentes, Sin color = Ningun accidente <br><br>
        <br>
        <input type="radio" name="option" value="Accidentes_Leves"> Mapa de calor de accidentes leves en la base de datos<br>(Rojo = Gran cantidad de accidentes, Verde = Poca cantidad de accidentes, Sin color = Ningun accidente <br><br>
        <br>
      <p>
      <p>
      <input type='submit' value='Ver Mapa' style="width:90px; height:33px;" />
      </p>
    </form> 



  </div>
</div>